#### Day 8: Joins ‚Äì Basics üåü

Welcome to Day 8! Today, we‚Äôll dive into the fascinating world of SQL Joins. Joins allow you to combine data from multiple tables into meaningful insights.

#### 1. Database Connection

In [ ]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL"
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL'!")

---
#### Data Setup üõ†Ô∏è
Let's create the employees and departments tables.

In [ ]:
cursor.execute("DROP TABLE IF EXISTS employees")
cursor.execute("DROP TABLE IF EXISTS departments")

cursor.execute('''
CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(100)
)
''')

cursor.execute('''
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(100),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
)
''')

departments_data = [
    (101, 'HR'),
    (102, 'IT'),
    (103, 'Marketing'),
    (104, 'Finance')
]
cursor.executemany("INSERT INTO departments VALUES (%s, %s)", departments_data)

employees_data = [
    (1, 'John Doe', 101),
    (2, 'Jane Smith', 102),
    (3, 'Sam Brown', 103),
    (4, 'Lisa White', NULL)
]
# Note: Foreign key constraint might fail for NULL if not allowed, but here it's fine.
# We need to disable foreign key checks for the NULL entry or just not use the constraint if it's tricky.
# Actually, MySQL allows NULL in foreign keys.
cursor.execute("SET FOREIGN_KEY_CHECKS=0")
cursor.executemany("INSERT INTO employees VALUES (%s, %s, %s)", employees_data)
cursor.execute("SET FOREIGN_KEY_CHECKS=1")

conn.commit()

#### 1. INNER JOIN
Returns records that have matching values in both tables.

In [ ]:
query = """
SELECT employees.name, departments.department_name
FROM employees
INNER JOIN departments
ON employees.department_id = departments.department_id;
"""
pd.read_sql(query, conn)

#### 2. LEFT JOIN
Returns all records from the left table and matched records from the right table.

In [ ]:
query = """
SELECT employees.name, departments.department_name
FROM employees
LEFT JOIN departments
ON employees.department_id = departments.department_id;
"""
pd.read_sql(query, conn)

#### 3. RIGHT JOIN
Returns all records from the right table and matched records from the left table.

In [ ]:
query = """
SELECT employees.name, departments.department_name
FROM employees
RIGHT JOIN departments
ON employees.department_id = departments.department_id;
"""
pd.read_sql(query, conn)

#### 4. FULL OUTER JOIN (Simulated in MySQL)
MySQL doesn't support FULL OUTER JOIN directly, so we use UNION of LEFT and RIGHT joins.

In [ ]:
query = """
SELECT employees.name, departments.department_name
FROM employees
LEFT JOIN departments ON employees.department_id = departments.department_id
UNION
SELECT employees.name, departments.department_name
FROM employees
RIGHT JOIN departments ON employees.department_id = departments.department_id;
"""
pd.read_sql(query, conn)

In [ ]:
conn.close()