#### Day 19: Transactions and Concurrency Control 🔒

Today we explore SQL Transactions, focusing on ACID properties and commands like COMMIT, ROLLBACK, and SAVEPOINT.

#### 1. Database Connection

In [1]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL",
    autocommit=False  # Important: Disable autocommit for manual transaction control
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL' (Manual Transaction Mode)!")

---

#### Practice Exercises 💳

#### 1. Successful Transaction (COMMIT)
Simulate a bank transfer by updating two accounts and committing the changes.

In [2]:
try:
    # Transfer $500 from Account 1 to Account 2
    cursor.execute("UPDATE employees SET salary = salary - 500 WHERE employee_id = 1")
    cursor.execute("UPDATE employees SET salary = salary + 500 WHERE employee_id = 2")
    
    conn.commit()
    print("Transaction committed successfully!")
except Exception as e:
    conn.rollback()
    print(f"Transaction failed: {e}")

#### 2. Rollback Example (ROLLBACK)
Simulate an error and undo the changes made during the transaction.

In [3]:
try:
    # Start some updates
    cursor.execute("UPDATE employees SET salary = salary + 1000 WHERE employee_id = 1")
    
    # Force an error (invalid column)
    cursor.execute("UPDATE employees SET invalid_column = 0 WHERE employee_id = 2")
    
    conn.commit()
except Exception as e:
    conn.rollback()
    print(f"Encountered error: {e}. Changes rolled back.")

#### 3. Savepoints (SAVEPOINT)
Use savepoints to undo only parts of a transaction.

In [4]:
try:
    cursor.execute("UPDATE employees SET age = age + 1 WHERE employee_id = 1")
    # Create a savepoint
    cursor.execute("SAVEPOINT sp1")
    
    cursor.execute("UPDATE employees SET age = age + 10 WHERE employee_id = 2")
    
    # Decide to undo only the second update
    cursor.execute("ROLLBACK TO SAVEPOINT sp1")
    
    conn.commit()
    print("Committed only the first update!")
except Exception as e:
    conn.rollback()
    print(f"Global failure: {e}")

In [5]:
conn.close()