#### Day 16: Window Functions in SQL 🪟

Today we explore Window Functions, which allow you to perform calculations across a set of rows related to the current row without collapsing the result set.

#### 1. Database Connection

In [1]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL"
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL'!")

---

#### Practice Exercises 🍭

#### 1. Ranking Rows: ROW_NUMBER and RANK
Assign row numbers and ranks to employees based on their salary within their department.

In [2]:
query = """
SELECT 
    name, 
    department_id, 
    salary,
    ROW_NUMBER() OVER (PARTITION BY department_id ORDER BY salary DESC) AS row_num,
    RANK() OVER (PARTITION BY department_id ORDER BY salary DESC) AS rnk
FROM employees
"""
pd.read_sql(query, conn)

#### 2. Trend Analysis: LAG and LEAD
Compare the current employee's salary with the previous and next employee in the list.

In [3]:
query = """
SELECT 
    name, 
    salary,
    LAG(salary) OVER (ORDER BY salary) AS prev_salary,
    LEAD(salary) OVER (ORDER BY salary) AS next_salary
FROM employees
"""
pd.read_sql(query, conn)

#### 3. First and Last Values
Retrieve the highest and lowest salary for each department using FIRST_VALUE and LAST_VALUE.

In [4]:
query = """
SELECT 
    name, 
    department_id, 
    salary,
    FIRST_VALUE(salary) OVER (PARTITION BY department_id ORDER BY salary DESC) AS highest_salary,
    LAST_VALUE(salary) OVER (
        PARTITION BY department_id 
        ORDER BY salary DESC 
        ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
    ) AS lowest_salary
FROM employees
"""
pd.read_sql(query, conn)

In [5]:
conn.close()