#### Day 8: Joins – Basics 🌟

Welcome to Day 8! Today, we’ll dive into the fascinating world of SQL Joins. Joins allow you to combine data from multiple tables into meaningful insights.

#### 1. Database Connection

In [ ]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL"
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL'!")

---
#### Data Setup 🌠
Let's create the employees and departments tables matching common_db schema.

In [ ]:
cursor.execute("SET FOREIGN_KEY_CHECKS=0")
cursor.execute("DROP TABLE IF EXISTS employees")
cursor.execute("DROP TABLE IF EXISTS departments")
cursor.execute("SET FOREIGN_KEY_CHECKS=1")

cursor.execute('''
CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(50)
)
''')

cursor.execute('''
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    salary DECIMAL(10,2),
    department_id INT,
    manager_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
)
''')

departments_data = [
    (1, 'IT'),
    (2, 'HR'),
    (3, 'Marketing'),
    (4, 'Finance')
]
cursor.executemany("INSERT INTO departments VALUES (%s, %s)", departments_data)

employees_data = [
    (1, 'Alan', 28, 60000, 1, None),
    (2, 'Brian', 35, 80000, 3, 1),
    (3, 'Catherine', 42, 90000, 2, 1),
    (4, 'Dylan', 25, 50000, 1, 2),
    (5, 'Evan', None, 70000, 4, 3),
    (6, 'Helen', 38, 95000, 3, 3),
    (7, 'Lisa White', 30, 55000, None, None)
]
cursor.executemany("INSERT INTO employees VALUES (%s, %s, %s, %s, %s, %s)", employees_data)
conn.commit()
print("Setup complete!")

#### 1. INNER JOIN
Returns records that have matching values in both tables.

In [ ]:
query = """
SELECT employees.name, departments.department_name
FROM employees
INNER JOIN departments
ON employees.department_id = departments.department_id;
"""
pd.read_sql(query, conn)

#### 2. LEFT JOIN
Returns all records from the left table and matched records from the right table.

In [ ]:
query = """
SELECT employees.name, departments.department_name
FROM employees
LEFT JOIN departments
ON employees.department_id = departments.department_id;
"""
pd.read_sql(query, conn)

#### 3. RIGHT JOIN
Returns all records from the right table and matched records from the left table.

In [ ]:
query = """
SELECT employees.name, departments.department_name
FROM employees
RIGHT JOIN departments
ON employees.department_id = departments.department_id;
"""
pd.read_sql(query, conn)

#### 4. FULL OUTER JOIN (Simulated in MySQL)
MySQL doesn't support FULL OUTER JOIN directly, so we use UNION of LEFT and RIGHT joins.

In [ ]:
query = """
SELECT employees.name, departments.department_name
FROM employees
LEFT JOIN departments ON employees.department_id = departments.department_id
UNION
SELECT employees.name, departments.department_name
FROM employees
RIGHT JOIN departments ON employees.department_id = departments.department_id;
"""
pd.read_sql(query, conn)

In [ ]:
conn.close()