#### Day 11: Set Operations in SQL ✨

Today we learn about Set Operations: UNION, UNION ALL, INTERSECT, and EXCEPT.

#### 1. Database Connection

In [1]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL"
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL'!")

---

#### Data Setup 📦
Creating sample tables `department_a` and `department_b` for set operation examples.

In [2]:
cursor.execute("DROP TABLE IF EXISTS department_a")
cursor.execute("DROP TABLE IF EXISTS department_b")

cursor.execute("CREATE TABLE department_a (id INT PRIMARY KEY, name VARCHAR(50))")
cursor.execute("CREATE TABLE department_b (id INT PRIMARY KEY, name VARCHAR(50))")

cursor.executemany("INSERT INTO department_a VALUES (%s, %s)", [
    (1, 'Alice'), (2, 'Bob'), (3, 'Charlie')
])
cursor.executemany("INSERT INTO department_b VALUES (%s, %s)", [
    (1, 'Alice'), (2, 'David'), (3, 'Eve')
])
conn.commit()
print("Setup complete!")

#### Practice Exercises 🛠️

#### 1. UNION: Combine unique names from both departments

In [3]:
query = """
SELECT name FROM department_a
UNION
SELECT name FROM department_b
"""
pd.read_sql(query, conn)

#### 2. UNION ALL: Combine all names including duplicates

In [4]:
query = """
SELECT name FROM department_a
UNION ALL
SELECT name FROM department_b
"""
pd.read_sql(query, conn)

#### 3. INTERSECT: Find common names (Simulated using JOIN in MySQL < 8.0 or nested exists)
*(Note: MySQL 8.0.31+ supports INTERSECT, otherwise we use standard SQL patterns)*

In [5]:
query = """
SELECT name FROM department_a
WHERE name IN (SELECT name FROM department_b)
"""
pd.read_sql(query, conn)

#### 4. EXCEPT: Find names in Dept A but not in Dept B (Simulated using LEFT JOIN/NOT IN)
*(Note: MySQL 8.0.31+ supports EXCEPT, otherwise we use standard SQL patterns)*

In [6]:
query = """
SELECT name FROM department_a
WHERE name NOT IN (SELECT name FROM department_b)
"""
pd.read_sql(query, conn)

In [7]:
conn.close()