#### Day 14: Intermediate SQL Practice and Quiz 📓

Welcome to Day 14! Today we consolidate our knowledge with intermediate-level SQL problems and a quiz.

#### 1. Database Connection

In [1]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL"
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL'!")

---

#### Practice Exercises 🔧

#### 1. Total Sales Per Region
Calculate total sales for each region and only include regions with sales greater than 10,000.

In [2]:
cursor.execute("DROP TABLE IF EXISTS sales")
cursor.execute("CREATE TABLE sales (salesperson VARCHAR(50), region VARCHAR(50), sales_amount DECIMAL(10,2))")
cursor.executemany("INSERT INTO sales VALUES (%s, %s, %s)", [
    ('Alice', 'North', 5000), ('Bob', 'South', 7000), 
    ('Alice', 'North', 3000), ('Bob', 'South', 5000), 
    ('Carol', 'East', 8000)
])
conn.commit()

query = """
SELECT region, SUM(sales_amount) AS total_sales
FROM sales
GROUP BY region
HAVING total_sales > 10000;
"""
pd.read_sql(query, conn)

#### 2. Average Score by Class
Find the average score for each class, but only include classes with an average score above 75.

In [3]:
query = """
SELECT class, AVG(score) AS average_score
FROM students
GROUP BY class
HAVING average_score > 75;
"""
pd.read_sql(query, conn)

#### 3. High Volume Customer Orders
Find customers who have placed more than 3 orders and whose total order value exceeds 5,000.

In [4]:
extra_orders = [
    (110, 1, 1, '2024-06-01', 1500.00, 'Another order'),
    (111, 1, 1, '2024-07-01', 2000.00, 'High frequency')
]
cursor.executemany("INSERT IGNORE INTO orders VALUES (%s, %s, %s, %s, %s, %s)", extra_orders)
conn.commit()

query = """
SELECT customer_id, COUNT(order_id) AS total_orders, SUM(order_total) AS total_value
FROM orders
GROUP BY customer_id
HAVING total_orders > 3 AND total_value > 5000;
"""
pd.read_sql(query, conn)

---

#### Quiz Section 🕵️

**1. Identify Invalid Queries**
Which of the following queries will result in an error?
- 2. `SELECT region FROM sales HAVING SUM(sales_amount) > 10000;` (Error because HAVING requires GROUP BY or aggregation scope).

**2. True or False**
The HAVING clause can only be used with aggregate functions.
- **True** (It is specifically designed to filter based on aggregated results).

**3. Fill in the Blanks**
Complete the query to find regions with total sales greater than 15,000:
```sql
SELECT region, SUM(sales_amount) AS total_sales
FROM sales
GROUP BY region
HAVING SUM(sales_amount) > 15000;
```

In [5]:
conn.close()