#### Day 12: String Functions in SQL 🎉

Today we explore SQL functions for manipulating and processing textual data.

#### 1. Database Connection

In [1]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL"
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL'!")

---

#### Practice Exercises 🖋️

#### 1. Basic Case Conversion and Length
Convert 'SQL Challenge' to uppercase and find its length.

In [2]:
query = "SELECT UPPER('SQL Challenge') AS uppercase, LENGTH('SQL Challenge') AS len"
pd.read_sql(query, conn)

#### 2. Data Cleaning: TRIM and LOWER
Clean up messy usernames with leading/trailing spaces.

In [3]:
cursor.execute("DROP TABLE IF EXISTS messy_users")
cursor.execute("CREATE TABLE messy_users (id INT, username VARCHAR(50))")
cursor.executemany("INSERT INTO messy_users VALUES (%s, %s)", [
    (1, '   Alice123   '), (2, '   Bob456   '), (3, 'Charlie789')
])
conn.commit()

query = "SELECT id, TRIM(LOWER(username)) AS cleaned_username FROM messy_users"
pd.read_sql(query, conn)

#### 3. Extracting Domain from Email
Use SUBSTRING and INSTR to extract the domain part of an email address.

In [4]:
query = """
SELECT 
    'alice@example.com' AS email, 
    SUBSTRING('alice@example.com', INSTR('alice@example.com', '@') + 1) AS domain
"""
pd.read_sql(query, conn)

#### 4. Replace and Reverse
Replace 'world' with 'SQL' and reverse the result.

In [5]:
query = "SELECT REVERSE(REPLACE('hello world', 'world', 'SQL')) AS outcome"
pd.read_sql(query, conn)

In [6]:
conn.close()