#### Day 7: SQL Practice and Quiz ðŸŽ¯

Welcome to Day 7! Today, we consolidate our learning from the past six days with practice problems and a quiz.

#### 1. Database Connection

In [ ]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL"
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL'!")

---
#### Practice Exercises ðŸ“–

#### 1. Total Sales by Region
Write a query to find the total sales for each region.

In [ ]:
cursor.execute("DROP TABLE IF EXISTS sales")
cursor.execute('''
CREATE TABLE sales (
    salesperson VARCHAR(50),
    region VARCHAR(50),
    sales_amount INT
)
''')

sales_data = [
    ('Alice', 'North', 5000),
    ('Bob', 'South', 7000),
    ('Alice', 'North', 3000),
    ('Bob', 'South', 2000),
    ('Carol', 'East', 8000)
]
cursor.executemany("INSERT INTO sales VALUES (%s, %s, %s)", sales_data)
conn.commit()

query = """
SELECT region, SUM(sales_amount) AS total_sales
FROM sales
GROUP BY region;
"""
pd.read_sql(query, conn)

#### 2. Average Score by Class
Write a query to find the average score for each class.

In [ ]:
cursor.execute("DROP TABLE IF EXISTS students")
cursor.execute('''
CREATE TABLE students (
    class CHAR(1),
    student_name VARCHAR(50),
    score INT
)
''')

student_data = [
    ('A', 'John', 85),
    ('A', 'Mary', 90),
    ('B', 'Jake', 70),
    ('B', 'Emily', 75),
    ('A', 'Steve', 95)
]
cursor.executemany("INSERT INTO students VALUES (%s, %s, %s)", student_data)
conn.commit()

query = """
SELECT class, AVG(score) AS average_score
FROM students
GROUP BY class;
"""
pd.read_sql(query, conn)

#### 3. High-Selling Salespersons
Write a query to find salespersons with total sales greater than 10000. (Note: The prompt says 8000 but the solution says 10000, I will follow the solution query logic for consistency if needed, or stick to 8000 as per task. I'll use 10000 as per solution provided in the MD)

In [ ]:
query = """
SELECT salesperson, SUM(sales_amount) AS total_sales
FROM sales
GROUP BY salesperson
HAVING total_sales > 10000;
"""
pd.read_sql(query, conn)

#### 4. Students with More Than One Entry
Write a query to find all students who appear more than once in the table.

In [ ]:
query = """
SELECT student_name, COUNT(*) AS entry_count
FROM students
GROUP BY student_name
HAVING entry_count > 1;
"""
pd.read_sql(query, conn)

---
#### Quiz Questions ðŸŽ®

**1. Filtering with WHERE and HAVING**
Which of the following statements is true?
- (A) WHERE filters rows before grouping, while HAVING filters groups after aggregation.

**2. Aggregation**
What will the following query return?
```sql
SELECT region, COUNT(*) AS region_count
FROM sales
GROUP BY region;
```
- (B) The count of sales in each region.

**3. Combining GROUP BY and HAVING**
What does this query return?
```sql
SELECT customer_id, SUM(order_amount) AS total_amount
FROM orders
GROUP BY customer_id
HAVING total_amount > 400;
```
- (A) Customers whose total orders exceed 400.

In [ ]:
conn.close()