# Day 1: Introduction to SQL ðŸš€

Welcome to Day 1 of the 30-Day SQL Challenge! Today is about setting up the environment and running your very first query.

### 1. Database Connection
We will connect to MySQL and ensure the `sql_30days_challenge` database exists.

In [1]:
import mysql.connector

try:
    # Connect to MySQL (initial connection without database to create it if needed)
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password=""  # Default XAMPP/MySQL password
    )
    cursor = conn.cursor()

    # Create database if not exists
    cursor.execute("CREATE DATABASE IF NOT EXISTS sql_30days_challenge")
    cursor.execute("USE sql_30days_challenge")
    
    print("Database 'sql_30days_challenge' is ready!")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Database 'sql_30days_challenge' is ready!

### 2. Task for Day 1: Run Your First SQL Query
Execute a simple `SELECT` statement to confirm everything is working.

In [2]:
cursor.execute("SELECT 'Hello, SQL!' AS Message")
result = cursor.fetchone()
print(result[0])

Hello, SQL!

In [3]:
conn.close()