#### Day 7: SQL Practice and Quiz ðŸŒŸ

Welcome to Day 7! Today, we consolidate our learning from the past six days with practice problems and a quiz.

#### 1. Database Connection

In [1]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL"
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL'!")

Connected to '30_Days_SQL'!

---
#### Practice Exercises ðŸ“–

#### 1. Total Sales by Region
Write a query to find the total sales for each region.

In [2]:
cursor.execute("DROP TABLE IF EXISTS sales")
cursor.execute('''
CREATE TABLE sales (
    sale_id INT PRIMARY KEY,
    salesperson VARCHAR(50),
    region VARCHAR(50),
    sales_amount DECIMAL(10,2),
    sale_date DATE
)
''')

sales_data = [
    (1, 'Alice', 'North', 5000, '2024-01-01'),
    (2, 'Bob', 'South', 7000, '2024-01-02'),
    (3, 'Alice', 'North', 3000, '2024-01-03'),
    (4, 'Bob', 'South', 2000, '2024-01-04'),
    (5, 'Carol', 'East', 8000, '2024-01-05')
]
cursor.executemany("INSERT INTO sales VALUES (%s, %s, %s, %s, %s)", sales_data)
conn.commit()

query = """
SELECT region, SUM(sales_amount) AS total_sales
FROM sales
GROUP BY region;
"""
pd.read_sql(query, conn)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_15268\4109716353.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, conn)

  region  total_sales
0   East       8000.0
1  North       8000.0
2  South       9000.0

#### 2. Average Score by Class
Write a query to find the average score for each class.

In [ ]:
query = """
SELECT class, AVG(score) AS average_score
FROM students
GROUP BY class;
"""
pd.read_sql(query, conn)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_15268\1548599162.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, conn)

  class  average_score
0     A           89.5
1     B           72.5

#### 3. High-Selling Salespersons
Write a query to find salespersons with total sales greater than 8000.

In [4]:
query = """
SELECT salesperson, SUM(sales_amount) AS total_sales
FROM sales
GROUP BY salesperson
HAVING total_sales > 8000;
"""
pd.read_sql(query, conn)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_15268\984418495.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, conn)

  salesperson  total_sales
0         Bob       9000.0

#### 4. Students with More Than One Entry
Write a query to find all students who appear more than once in the table.

In [5]:
query = """
SELECT student_name, COUNT(*) AS entry_count
FROM students
GROUP BY student_name
HAVING entry_count > 1;
"""
pd.read_sql(query, conn)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_15268\1761314924.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, conn)

  student_name  entry_count
0         John            2

---
#### Quiz Questions ðŸŽ®

**1. Filtering with WHERE and HAVING**
Which of the following statements is true?
- (A) WHERE filters rows before grouping, while HAVING filters groups after aggregation.

**2. Aggregation**
What will the following query return?
```sql
SELECT region, COUNT(*) AS region_count
FROM sales
GROUP BY region;
```
- (B) The count of sales in each region.

**3. Combining GROUP BY and HAVING**
What does this query return?
```sql
SELECT customer_id, SUM(order_total) AS total_amount
FROM orders
GROUP BY customer_id
HAVING total_amount > 400;
```
- (A) Customers whose total orders exceed 400.

In [6]:
conn.close()