#### Day 4: Sorting Data with ORDER BY 🎈

Today we learn how to sort results using the ORDER BY clause.

#### 1. Database Connection

In [1]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL"
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL'!")

---

#### Practice Exercises 🖋

#### 1. Retrieve all employees and sort them by name in ascending order

In [2]:
query = "SELECT * FROM employees ORDER BY name ASC"
pd.read_sql(query, conn)

#### 2. Sort the employees table by department_id in descending order

In [3]:
query = "SELECT * FROM employees ORDER BY department_id DESC"
pd.read_sql(query, conn)

#### 3. Combine sorting by age in ascending order and department_id in ascending order

In [4]:
query = "SELECT * FROM employees ORDER BY age ASC, department_id ASC"
pd.read_sql(query, conn)

#### 4. Sort products by price in descending and stock_quantity in ascending order
(First, let's insert data into products)

In [5]:
products_data = [
    (1, 'Laptop', 'Electronics', 1200.00, 10),
    (2, 'Mouse', 'Electronics', 25.50, 50),
    (3, 'Keyboard', 'Electronics', 75.00, 20),
    (4, 'Monitor', 'Electronics', 200.00, 15),
    (5, 'USB Cable', 'Accessories', 10.00, 100)
]
cursor.executemany("INSERT IGNORE INTO products VALUES (%s, %s, %s, %s, %s)", products_data)
conn.commit()

query = "SELECT * FROM products ORDER BY price DESC, stock_quantity ASC"
pd.read_sql(query, conn)

In [6]:
conn.close()