#### Day 9: Advanced Joins üöÄ

Welcome to Day 9! Today, we‚Äôll dive deeper into the world of SQL joins, exploring advanced join techniques to handle more complex data relationships.

#### 1. Database Connection

In [ ]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL"
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL'!")

---
#### 1. Self Join ‚úçÔ∏è
A self join is a join where a table is joined with itself. This is useful for hierarchical data like employee-manager relationships.

In [ ]:
cursor.execute("DROP TABLE IF EXISTS employees")
cursor.execute('''
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(100),
    manager_id INT
)
''')

employees_data = [
    (1, 'Alice', NULL),
    (2, 'Bob', 1),
    (3, 'Charlie', 1),
    (4, 'David', 2)
]
cursor.executemany("INSERT INTO employees VALUES (%s, %s, %s)", employees_data)
conn.commit()

query = """
SELECT e1.name AS employee, e2.name AS manager
FROM employees e1
LEFT JOIN employees e2
ON e1.manager_id = e2.employee_id;
"""
pd.read_sql(query, conn)

#### 2. Cross Join üå±
A cross join returns the Cartesian product of two tables.

In [ ]:
cursor.execute("DROP TABLE IF EXISTS colors")
cursor.execute("DROP TABLE IF EXISTS products")

cursor.execute("CREATE TABLE products (product_id INT PRIMARY KEY, product_name VARCHAR(50))")
cursor.execute("CREATE TABLE colors (color_id INT PRIMARY KEY, color_name VARCHAR(50))")

cursor.executemany("INSERT INTO products VALUES (%s, %s)", [(1, 'Pen'), (2, 'Notebook')])
cursor.executemany("INSERT INTO colors VALUES (%s, %s)", [(1, 'Red'), (2, 'Blue')])
conn.commit()

query = """
SELECT p.product_name, c.color_name
FROM products p
CROSS JOIN colors c;
"""
pd.read_sql(query, conn)

#### 3. Using Joins with Aggregates üìä
Calculating total sales by customer using JOIN and GROUP BY.

In [ ]:
cursor.execute("DROP TABLE IF EXISTS customers")
cursor.execute("DROP TABLE IF EXISTS orders")

cursor.execute("CREATE TABLE customers (customer_id INT PRIMARY KEY, name VARCHAR(50))")
cursor.execute("CREATE TABLE orders (order_id INT PRIMARY KEY, customer_id INT, amount INT)")

cursor.executemany("INSERT INTO customers VALUES (%s, %s)", [(1, 'John'), (2, 'Sarah')])
cursor.executemany("INSERT INTO orders VALUES (%s, %s, %s)", [(101, 1, 100), (102, 1, 150), (103, 2, 200)])
conn.commit()

query = """
SELECT c.name, SUM(o.amount) AS total_sales
FROM customers c
JOIN orders o
ON c.customer_id = o.customer_id
GROUP BY c.name;
"""
pd.read_sql(query, conn)

In [ ]:
conn.close()