#### Day 15: Advanced Aggregate Functions in SQL 📊

Today we explore advanced aggregate functions for complex data summarization and calculation.

#### 1. Database Connection

In [1]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL"
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL'!")

---

#### Practice Exercises 🛠️

#### 1. String Aggregation (GROUP_CONCAT)
Create a comma-separated list of product names for each category.

In [2]:
query = """
SELECT category, GROUP_CONCAT(product_name SEPARATOR ', ') AS product_list
FROM products
GROUP BY category
"""
pd.read_sql(query, conn)

#### 2. Statistical Functions (STDDEV and VARIANCE)
Calculate the standard deviation and variance of employee salaries.

In [3]:
query = """
SELECT 
    department_id, 
    STDDEV(salary) AS salary_stddev, 
    VARIANCE(salary) AS salary_variance
FROM employees
GROUP BY department_id
"""
pd.read_sql(query, conn)

#### 3. Hierarchical Aggregation (ROLLUP)
Calculate subtotals and grand totals for sales by region.

In [4]:
query = """
SELECT region, SUM(sales_amount) AS total_sales
FROM sales
GROUP BY region WITH ROLLUP
"""
pd.read_sql(query, conn)

In [5]:
conn.close()