#### Day 13: Date and Time Functions in SQL ⌛

Today we dive into into SQL functions for manipulating and analyzing temporal data.

#### 1. Database Connection

In [1]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="30_Days_SQL"
)
cursor = conn.cursor()
print("Connected to '30_Days_SQL'!")

---

#### Practice Exercises ⏰

#### 1. Current Temporal Information
Retrieve the current date, time, and timestamp.

In [2]:
query = "SELECT CURDATE() AS today, CURTIME() AS now, NOW() AS current_datetime"
pd.read_sql(query, conn)

#### 2. Extracting Date Parts
Extract year, month, and day from the current timestamp.

In [3]:
query = "SELECT YEAR(NOW()) AS year, MONTH(NOW()) AS month, DAY(NOW()) AS day"
pd.read_sql(query, conn)

#### 3. Date Differences
Calculate the number of days between '2025-01-01' and today.

In [4]:
query = "SELECT DATEDIFF('2025-01-01', CURDATE()) AS days_until_2025"
pd.read_sql(query, conn)

#### 4. Adding and Subtracting Intervals
Find the date 7 days from now and 1 month ago.

In [5]:
query = """
SELECT 
    DATE_ADD(CURDATE(), INTERVAL 7 DAY) AS next_week,
    DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AS last_month
"""
pd.read_sql(query, conn)

#### 5. Formatting Dates
Format the current date in 'DD-MM-YYYY' and human-readable formats.

In [6]:
query = """
SELECT 
    DATE_FORMAT(NOW(), '%d-%m-%Y') AS simple_format,
    DATE_FORMAT(NOW(), '%W, %M %d, %Y') AS readable_format
"""
pd.read_sql(query, conn)

In [7]:
conn.close()